#carrossel {
    height: 474px;
    background-image: url('../assets/png/carrossel01.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

.carrossel-content h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 52px;
}