#quem-somos{
    background-image: url('../assets/png/INSTATALARME_SEM_FUNDO.png');
    background-size: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

